.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 16px;
  margin-top: 64px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 0 24px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    padding: 0 48px;
  }
}
